[submodule "AHC025"]
	path = AHC025
	url = https://github.com/thirofoo/AHC025
[submodule "AHC027"]
	path = AHC027
	url = https://github.com/thirofoo/AHC027
[submodule "AHC029"]
	path = AHC029
	url = https://github.com/thirofoo/AHC029
[submodule "masters2024-qual"]
	path = masters2024-qual
	url = https://github.com/thirofoo/masters2024-qual
[submodule "masters2024-final-open"]
	path = masters2024-final-open
	url = https://github.com/thirofoo/masters2024-final-open
[submodule "AHC031"]
	path = AHC031
	url = https://github.com/thirofoo/AHC031
[submodule "AHC033"]
	path = AHC033
	url = https://github.com/thirofoo/AHC033.git
